<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPI Fraud Detection</title>
  </head>
  <body>
    <h2>Enter UPI Transaction Information</h2>
    <form action="/predict" method="POST">
      <label for="amount">Transaction Amount:</label>
      <input
        type="number"
        id="amount"
        name="amount"
        required
      /><br /><br />

      <label for="transaction_time">Transaction Time (in 24hr format):</label>
      <input
        type="text"
        id="transaction_time"
        name="transaction_time"
        required
      /><br /><br />

     <br>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
